// for header (also comments don't show on css file)
/* unless written like this (comments that is) */

$blue: blue;
$green: green;
$red: red;
$orange: orange;
$purple: purple;
$yellow: yellow;
$pink: pink;
$fw-900: 900;
$width50: 50%;
$text-colour: (
  "text-red": red,
  "text-pink": pink,
  "text-brown": brown,
  "text-yellow": yellow,
);
$pointing-cursor: pointer;

@mixin centering($underline) {
  text-align: center;
  font-size: 5em;
  background-color: $purple;
  font-weight: $fw-900;
  width: $width50;
  text-decoration: $underline;
}

header {
  @include centering(underline);
  font-weight: $fw-900;
  color: $blue;
}

#mainTitle {
  color: $pink;
  text-decoration: underline;
}

h2 {
  @include centering(underline);
  color: map-get($text-colour, "text-red");
}

h3 {
  color: map-get($text-colour, "text-pink");
}

h4 {
  color: map-get($text-colour, "text-brown");
}

.para {
  font-weight: $fw-900;
  background-color: $green;
  color: $blue;
}

button {
  font-weight: $fw-900;
  background-color: $green;
}

.first {
  & .para1 {
    @include centering(underline);
    color: map-get($text-colour, "text-red");
    cursor: $pointing-cursor;
  }
  & .para1:hover {
    color: $blue;
    background-color: $red;
  }
}

.second {
  & .para2 {
    color: map-get($text-colour, "text-pink");
    cursor: $pointing-cursor;
  }
  & .para2:hover {
    color: $orange;
    background-color: $purple;
  }
}

.third {
  & .para3 {
    color: map-get($text-colour, "text-yellow");
    cursor: $pointing-cursor;
  }
  & .para3:hover {
    color: $green;
    background-color: $yellow;
  }
  #{&}Para4 {
    background-color: $orange;
    width: $width50;
  }
  & &Para5 {
    background-color: $pink;
    width: $width50;
  }
}

@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

.sidebar {
  float: left;
  margin-left: pow(4, 3) * 1px;
  background-color: $yellow;
}
